body{
    background-image: url('/static/homepage.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;

}


.container{
    display: flex;
    justify-content: space-between;
    padding-top: 9rem;
    align-items: flex-start;
    text-align: center;
      
}

.coder,.web-developer{
    font-size: 3rem;
    font-family: 'Trebuchet MS';
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}
.coder{
    padding-left: 12.5rem;
}
.web-developer{
    padding-right: 12.5rem;
}

.coder p, .web-developer p{
        font-size: 1.25rem;
        padding-top: 0.625rem;
        font-family: Garamond; 
     
}
   
.footerformat{
    display: flex;
    justify-content: space-between;
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(37, 34, 34, 0.952);
    height: 1.875rem;
    align-items: center;
}


.footerformat ul{
    display: flex;
    list-style-type: none;
    margin: auto;
    padding-right: 21.875rem;
    
}
.footerformat ul li a{
    color: white;
    text-decoration: none;
    margin: 0.625rem;
    justify-content: center;
    font-size: 0.9375rem;
    opacity: 0.7;
    transition: 0.5s;

}
.footerformat ul li a:hover{
    opacity: 1;

}
.footercopy{
    font-size: 0.9375rem;
    padding-left: 0.625rem;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 0.9375rem;
    font-weight: 25rem;
    margin: 0rem 0.3125rem;
}

.recent{
    padding-top: 18.75rem;
    text-align: center;
}

.recent h2{
    color:white;
    font-family: cursive;
    font-size: 0.9375rem;
}

.image{
    padding-top: 1.5625rem;
    opacity: .7;   
    max-height: 18.75rem;
    max-width: 12.5rem;
}
a .image:hover{
    padding:0;
    transition: 1s ease;
    transform: scale(1.1);
    box-shadow: 0 0 0 0.3125rem #000;

}

@media screen and (max-width: 43.75rem){
    .footerformat ul{
        flex-direction: column;
    }
    .footerformat ul li{
        width: 100%;
        text-align: center;
        margin: 0.625rem
    }
}